{% extends "ask_movie.html" %}
{% block title %}Display Movie {{movie_title}} {% endblock%}
{% block head %}
    {{super()}}
{% endblock %}

{% block content %}
<!-- super gives the child class the same form as from ask movie.html -->
<form action = "/" method="POST">
    <p>Movie  <input type ="MOVIE" name = "MOVIE" /></p>
    <p><input type = "submit" value = "submit" /></p>
</form>

<!-- have a table with 2 columns and 6 rows that
    displays values passed in from the python program.-->
<table border="1">
    <tr>
        <th>Director</th>
        <td>{{Director}}</td>
    </tr>
    <tr>
        <th>Lead Actor</th>
        <td>{{Lead}}</td>
    </tr>
    <tr>
        <th>Release Date</th>
        <td>{{ReleaseDate}}</td>
    </tr>
    <tr>
        <th>Budget</th>
        <td>{{Budget}}</td>
    </tr>
    <tr>
        <th>Revenue</th>
        <td>{{Revenue}}</td>
    </tr>
    <tr>
        <th>Run Time</th>
        <td>{{RunTime}}</td>
    </tr>


</table>
{% endblock %}
